body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #E3A6A1
}

.btn {
    text-decoration: none;
    font-family: 'Gill Sans';
    font-size: 2rem;
    background: none;
    color: #B55F6A;
    border:1px solid  #B55F6A ;
    cursor: pointer;
    padding: 0.6rem;
    transition: all 200ms;
}

.btn:hover{
    border: 1px solid #572b30;
    color: #572b30;
    font-size: 2.3rem;

}